<div class="form-container">

    <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>

    <div>
        <h1 mat-dialog-title>Add user</h1>
    </div>

    <mat-dialog-content>


        <div>

            <div class="input-container gap-16">
                <mat-form-field appearance="outline" class="inputField">
                    <mat-label>First Name</mat-label>
                    <input [(ngModel)]="user.firstName" matInput placeholder="Your first name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputField">
                    <mat-label>Last Name</mat-label>
                    <input [(ngModel)]="user.lastName" matInput placeholder="Your last name">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="inputField full-width">
                    <mat-label>Birth date</mat-label>
                    <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="inputField full-width">
                    <mat-label>Street</mat-label>
                    <input [(ngModel)]="user.street" matInput placeholder="Your address">
                </mat-form-field>
            </div>

            <div class="input-container gap-16">
                <mat-form-field appearance="outline" class="inputField">
                    <mat-label>Zip code</mat-label>
                    <input [(ngModel)]="user.zipCode" matInput placeholder="Your zip code">
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputField">
                    <mat-label>City</mat-label>
                    <input [(ngModel)]="user.city" matInput placeholder="Your city">
                </mat-form-field>
            </div>

        </div>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button (click)="closeDialog()" mat-button>Cancel</button>
        <button (click)="saveUser()" mat-button>Save</button>
    </mat-dialog-actions>


</div>