<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-toolbar>
    <mat-toolbar-row class="mat-toolbar">

      <button (click)="drawer.toggle()" mat-icon-button class="menu-toggle-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>menu</mat-icon>
      </button>      
      <span>Simple CRM</span>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
  

  <mat-drawer #drawer class="mat-sidenav" mode="side" [opened]="true">
    <div class="logo-container">
      Platz für das Logo
    </div>

    <div class="center-sidenav-content">
        <div class="menu-links">
          <ul>
            <li routerLink="/user" routerLinkActive="active"><mat-icon class="menu-icons">perm_identity</mat-icon>User</li>
            <li routerLink="/dashboard" routerLinkActive="active"><mat-icon class="menu-icons">dashboard</mat-icon>Dashboard</li>
          </ul>
        
        </div>

    </div>   
    
  </mat-drawer>

  <div class="mat-sidenav-content">

   


  </div>

</mat-drawer-container>