<mat-card appearance="outlined">

    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Sushi Sushinger</td>
            <td>Sushinger&#64;gamil.com</td>
            <td>Munich</td>
        </tr>
        <tr>
            <td>Sushi Sushinger</td>
            <td>Sushinger&#64;gamil.com</td>
            <td>Munich</td>
        </tr>
    </table>


    <!-- <mat-card-content>Simple card</mat-card-content> -->
</mat-card>


<div class="addUser-button-container">
    <button (click)="openDialog()" class="addUserBtn" matTooltip="Add user" matTooltipPosition="above">
        <mat-icon class="addUserIcon" [ngStyle]="{'color':'white'}">person_add</mat-icon>
    </button>
</div>